---
layout: default
---
<article>

  <header>
    <h1>{{ page.title | escape }}</h1>
  </header>

  <section>
    {{ content }}
  </section>

  <div id="about" class="content-region hide">
    <h2>Embed Example</h2>
    <p>

<!-- Leadmonk inline widget begin -->
    <div class="leadmonk-inline-widget" data-url="https://book22.neocal.io/x17prashanth-565/vcxc?hideLogo=true&pagebackground=0xffffff" style="min-width:340px;height:630px;"></div>
    <script type="text/javascript" src="https://firebasestorage.googleapis.com/v0/b/leadmonk-prod.appspot.com/o/leadmonk%2Fembed%2Fleadmonk_widget.js?alt=media" async></script>
 <!-- Leadmonk inline widget end -->


<!-- Calendly inline widget begin -->
<!-- <div class="calendly-inline-widget" data-url="https://calendly.com/inforagestudios/30min" style="min-width:320px;height:700px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script> -->
<!-- Calendly inline widget end -->

    </p>
  </div>
</article>
