---
layout: default
---
<article>

  <header>
    <h1>{{ page.title | escape }}</h1>
  </header>

  <section>
    {{ content }}
  </section>

  <div id="about" class="content-region hide">
    <h2>Embed Example</h2>
    <p>
<!-- Leadmonk inline widget begin -->
<div class="leadmonk-inline-widget" data-url="https://domain2.neocal.io/x17prashanth_496/30min?hideLogo=true&pagebackground=0xffffff" style="min-width:350px;height:600px;"></div>
<script type="text/javascript" src="https://firebasestorage.googleapis.com/v0/b/leadmonk-prod.appspot.com/o/leadmonk%2Fembed%2Fleadmonk_widget.js?alt=media" async></script>
<!-- Leadmonk inline widget end -->

    </p>
  </div>
</article>
